.custom-date-picker {
  width: 100%;
  border: 1px solid #d9d9d9;
  padding: 4px 11px;
  &:focus {
    border-color: #40a9ff;
    border-right-width: 1px !important;
    outline: 0;
    -webkit-box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
    box-shadow: 0 0 0 2px rgba(24, 144, 255, 0.2);
  }
}
