.province-city-selector__main-input {
  user-select: none;
}

.province-city-selector__background {
  position: fixed;
  width: 100vw;
  height: 100vh;
  z-index: 999;
  left: 0;
  background-color: #000;
  opacity: 0.7;
  transition: 500ms;
}

.province-city-selector {
  background-color: #fff;
  position: fixed !important;
  width: 400px;
  height: 80vh;
  z-index: 999;
  -moz-transition: top 0.5s ease;
  transition: top 0.5s ease;
  padding: 20px;
  overflow: hidden;
  border-radius: 4px;

  .province-city-selector__close-icon {
    font-size: 22px;
    color: #bcbec0;
  }

  .province-city-selector__title {
    text-align: center;
    font-size: 1rem;
  }

  .province-city-selector__search {
  }

  .province-city-selector__list {
    height: 60vh;
    overflow-y: auto;
    direction: rtl;
    padding: 20px;

    &::-webkit-scrollbar {
      display: none;
    }

    .ant-list-item {
      padding: 20px 0;
      transition: 400ms;
      cursor: pointer;

      &:hover {
        background-color: #efefef;
        transition: 600ms;
      }

      div {
        width: 100%;
        text-align: right;
        color: #000;

        &:hover {
          color: #1da57a;
        }
      }
    }
  }
  // .ant-steps,
  // .initial-profile > p {
  //   display: none;
  // }
}
