// intro
$primary-color: #485969;
$intro-bg-color: #89877b;
$intro-title-color: #212121;
$intro-p-color: #707070;
$intro-primary-color: #033933;
$intro-carousel-dot-bg: #95a9a8;
$intro-btn-secondary: #567a76;

$header-bg-color: #96b4b6;

$color2: #e39f0e;
$color3: #bfc4d2;

$border-radius-base: 3px;
$border-radius-sm: 2px;
$shadow-color: rgba(0, 0, 0, 0.05);
$shadow-1-down: 4px 4px 40px $shadow-color;
$border-color-split: #f4f4f4;
$border-color-base: #e5e5e5;
$font-size-base: 13px;
$text-color: #666;
$hover-color: #f9f9fc;

$purple: #d897eb;
$shadow-1: 4px 4px 20px 0 rgba(0, 0, 0, 0.01);
$shadow-2: 4px 4px 40px 0 rgba(0, 0, 0, 0.05);
$transition-ease-in: all 0.3s ease-out;
$transition-ease-out: all 0.3s ease-out;
$ease-in: ease-in;
